@import "tailwindcss";
@theme{
--font-style:"Source Serif 4", serif;
--color-design-purple-bg:oklch(0.4698 0.2064 285.65);
--color-design-pink-block-800:oklch(0.7952 0.0892 348.3);
--color-design-pink-block-600:oklch(0.889 0.0782 338.67);
--color-design-purple-block-300:oklch(0.747 0.1063 281.11);
--color-design-purple-block-400:oklch(0.7138 0.1461 289.83);
--color-design-purple-block-500:oklch(0.7093 0.107 286.42);
--color-design-purple-block-200:oklch(0.8333 0.094268 296.6288);
--color-design-purple-block-100:oklch(0.7401 0.1122 281.59);
--color-design-yellow-block:oklch(0.9409 0.1755 104.76);
--color-design-blue-block-900:oklch(0.4254 0.2165 274.47);
--color-design-blue-block-700:oklch(0.5708 0.2409 279.76);
--color-design-blue-block-500:oklch(0.5194 0.2618 275.31);
--color-firstSlide: oklch(0.9791 0 0);
}